[submodule "HackerOS/Scripts/HackerOS-Apps/HackerOS-Search-Engine"]
	path = HackerOS/Scripts/HackerOS-Apps/HackerOS-Search-Engine
	url = https://github.com/HackerOS-Linux-System/HackerOS-Search-Engine.git
