*.hacker linguist-detectable=true
*.hacker linguist-documentation=false
*.hacker linguist-language=Hacker-Lang

*.json linguist-detectable=true
*.json linguist-documentation=false
*.json linguist-language=JSON
