[Desktop Entry]
Name=Information HackerOS
Comment=Documentation and Information about HackerOS.
Exec=hl run /usr/share/HackerOS/Scripts/Bin/HackerOS-Information.hl
Icon=/usr/share/HackerOS/ICONS/HackerOS-Informaton.png
Terminal=false
Type=Application
Categories=Utility;Application;
StartupNotify=false
