[Desktop Entry]
Name=Hacker Term
Comment=Terminal for HackerOS.
Exec=/usr/share/HackerOS/Scripts/HackerOS-Apps/Hacker-Term
Icon=/usr/share/HackerOS/ICONS/konsole.png
Terminal=false
Type=Application
Categories=Game;
  
