[Desktop Entry]
Name=Update System
Comment=Update HackerOS
Exec=~/.hackeros/hacker/update-system
Icon=/usr/share/HackerOS/ICONS/update.png
Terminal=false
Type=Application
Categories=Utility;Application;
StartupNotify=false
